@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2a44;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
}